body{
    background-color: #444;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: auto;
    padding: 20px;
    width: 50%;
    margin: 20px auto;
    border-radius: 20px;
    border: 4px solid yellow;
    box-shadow: 11px 6px 20px 0px black;

}
button{
    padding: 10px;
    background-color: yellow;
    margin-top: 20px;
    border-radius: 10px;
    border: 0;

}
button a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}